header{
    position: absolute;
    width: 1024px;
    height: 100px;
    left: 0%;
    top: 0%;
    background-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}
.logo{
    position: absolute;
    width: 92px;
    height: 80px;
    left: 20px;
    top: 10px;
}
.name{
    position: absolute;
    width: 132px;
    height: 20px;
    left: 122px;
    top: 36px;
}
nav{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    
    position: absolute;
    top: 25%;
    right: 20px;
    flex-grow: 0.25;
    
    
 
    }
    .bar{
        width: 284px;
        height: 19px;
        left: 720px;
        top: 40px;

        list-style: none;

        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;        
    }
body{
    width: 1024px;
    background: #E5E5E5;
}
main{
    display: flex;
    position: relative;
    position: absolute;
    width: 986px;
    height: 350px;
    left: 19px;
    top: 135px; 
    
    
    flex-direction: row;
    justify-content: space-between;
}
    .promo {
        position: relative;
        width: 490px;
        height: 350px;
        background-image: url('../images/delivery.jpg');
        border-radius: 5px;
    }
h3{

position: absolute;
width: 350.64px;
height: 28px;


font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #FC200C;
}
    section{
        position: relative;
        width: 490px;
        height: 350px;
        background-color: white;
        border-radius: 5px;
    }
    
    footer{
        position: absolute;
        width: 1024px;
        height: 150px;
        left: 0px;
        top: 520px; 
        background: #222222;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        
    }
    .logo2{
        position: absolute;
        width: 92px;
        height: 80px;
        right: 160px;
        top: 35px;
    }
    
    .name2{
        position: absolute;
        width: 132px;
        height: 20px;
        right: 20px;
        top: 65px;
    }
    
  .final{
      position: absolute;
    width: 284px;
    height: 19px;
    right: 720px;
    top: 20px;
    
  }
  ul{
    list-style: none;
    width: 20px;
    height: 26px;
    display: flex;
    flex-direction: column;
   
  }